@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #FAF3E1;
  --text-color: #393E46;
  --hover-color: #000000;
}

.dark {
  --bg-color: #000000;
  --text-color: #948979;
  --hover-color: #DFD0B8;
}

.hover-link:hover {
  color: var(--hover-color) !important;
}

.hover-button:hover {
  color: var(--hover-color) !important;
}

.article {
  @apply flex flex-col gap-3 font-poppins text-lg tracking-wide mb-20;
}

.article > h1 {
  @apply font-cormorantGaramond text-4xl text-center tracking-tight;
}

.article > h2 {
  @apply font-cormorantGaramond text-3xl tracking-tight;
}

.article > ol {
  @apply list-decimal flex flex-col mx-10 gap-2;
}

.article > ul {
  @apply list-disc flex flex-col mx-10 gap-2;
}

.article > pre {
  @apply p-5 overflow-scroll;
  background-color: var(--hover-color);
  color: var(--bg-color);
}

.article > blockquote {
  @apply pl-5 italic border-l-2;
  border-color: var(--hover-color);
  opacity: 0.7;
}

.article > p > img {
  @apply w-1/2 mx-auto;
}
